@page "/"
@using BlazorWrokshop.Data

Customers:
<TestComponent Customers="Customers"
               CustomerSelectEvent="CustomerSelected">
</TestComponent>
<br />
<br />
<span style="color:green;">@DisplayMessage</span>

@code {

    string DisplayMessage = "";


    void CustomerSelected(Customer customer)
    {
        DisplayMessage = string.Format("Event Raised. Customer Selected: {0}",
            customer.Name);
    }

    List<Customer> Customers = new List<Customer>();


    protected override async Task OnInitializedAsync()
    {
        Customers = await CustomerService.GetAllCustomers();
    }
}